* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}
body {
  width: 80%;
  height: auto;
  border-right: 1px solid rgba(255, 0, 0, 0.4);
  background-color: #393e46;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
hr {
  width: 99%;
  border-color: rgba(255, 0, 0, 0.4);
}
p {
  line-height: 2;
}
li {
  line-height: 2;
  margin-left: 20px;
}
/* red color for selective text in span tag */
.redcolor {
  color: red;
}
div {
  width: 99%;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 20px;
  display: inline;
}
#roundbox {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: #929aab90;
}
/* buttonbox is for multiple tags of button */
.buttonbox {
  width: 45%;
  height: auto;
}
.buttonbox button {
  width: 100%;
  margin-bottom: 5px;
  color: white;
  padding: 4px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.664);
  border: none;
}
.buttonbox button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/* outputbox is to see selected tag output */
.outputbox {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 50%;
  height: 70%;
  padding: 10px;
  background-color: #222831;
}
/* to display only output */
.onlyoutput {
  display: none;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #222831;
}
/* styling view button */
.viewoutput {
  float: right;
  padding: 6px;
  background-color: greenyellow;
  border: none;
  font-weight: bolder;
  border-radius: 10%;
}
.viewoutput:hover {
  background-color: rgba(172, 255, 47, 0.452);
  color: white;
}
/* designing a table in paragraph box div */
.paragraphBox table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.paragraphBox tr:nth-child(odd) {
  background-color: #496e74;
}
.paragraphBox tr:nth-child(even) {
  background-color: #384252;
}
.paragraphBox th,
td {
  padding: 8px;
}
/* text color red */
.c-r {
  color: red;
}
/* text underline */
.td-u {
  text-decoration: underline;
}