* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
}
header {
  width: 100%;
  height: 14.4vh;
}

/* main header styling */
.heading {
  width: 100%;
  height: 65%;
  color: white;
  background-color: #393e46;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
nav {
  width: 100%;
  height: 35%;
  background-color: #222831;
}
nav ul {
  font-size: 1.4em;
  height: 100%;
  display: flex;
  list-style-type: none;
}
nav li {
  width: 10%;
  height: 100%;
  padding: 0.4rem;
  text-align: center;
}
nav li:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
/* main header styling */

.maincontent {
  display: flex;
  height: 85vh;
}
/* Left Side Scrollbar */
.leftsidecontent {
  width: 15%;
  height: 100%;
  background-color: #26292e;
  color: rgba(255, 255, 255, 0.6);
  overflow: auto;
}
.leftsidecontent ul {
  font-size: 1.6em;
  list-style-type: none;
}
.leftsidecontent li {
  width: 100%;
  padding: 0.3rem;
}
.leftsidecontent li a {
  color: rgba(255, 255, 255, 0.6);
}
.leftsidecontent li:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
/* Main Content Display */
main {
  width: 85%;
  height: 100%;
}
main iframe {
  width: 100%;
  height: 100%;
}
