* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Arial, sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
}
header {
  width: 100%;
  height: 14.4vh;
  position: fixed;
}

/* main header styling */
.heading {
  width: 100%;
  height: 65%;
  color: white;
  background-color: #393e46;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}
nav {
  width: 100%;
  height: 35%;
  background-color: #282A35;
}
nav ul {
  font-size: 1.4em;
  height: 100%;
  display: flex;
  list-style-type: none;
}
nav li {
  width: 10%;
  height: 100%;
  /* padding: 0.4rem; */
  text-align: center;
}
nav li:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
/* main header styling */

.maincontent {
  display: flex;
  height: 100vh;
}
/* Left Side Scrollbar */
.leftsidecontent {
  width: 16%;
  background-color: rgb(21, 32, 43);
  color: rgba(255, 255, 255, 0.6);
  overflow: auto;
  margin-top: 6rem;
}
.leftsidecontent ul {
  font-size: 1.3em;
  list-style-type: none;
}
.leftsidecontent li {
  width: 100%;
  padding: 0.3rem;
}
.leftsidecontent li a {
  color: rgba(255, 255, 255, 0.6);
}
.leftsidecontent li:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
/* Main Content Display */
main {
  width: 85%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #1d2a35;
}
main iframe {
  width: 100%;
  height: 99.2%;
  padding-top: 6rem;
}

/* pending work styling */
.pending {
  border-left: 4px solid red;
  padding-left: 5px;
}
